#cboxLoadedContent {
	/*overflow: visible !important;*/
}
#vista_notas {
	font-family: ubuntu;
	padding: 0 20px 0 13px;
	/*overflow: hidden;*/
}
#vista_notas h2#titulo {
	font-size: 19px;
	color: #90999F;
}

#vista_notas #cuerpo_texto {
	font-size: 14px;
    white-space: pre-line;
}

#vista_notas #fecha_medio {
	font-size: 14px;
	clear: both;
	font-family: ubuntu;
	font-weight: bold;
	color: #737E86;
	position: static;
	background: none;
}

#vista_notas #medio {
	padding: 0 20px;
	font-size: 15px;
}


#vista_notas #elementos_discursivos {
	border-spacing: 2px;
}
#vista_notas #elementos_discursivos td {
	font-size: 14px;
	padding: 4px 10px;
	width: 22%;
	text-align: center;
}
#vista_notas #elementos_discursivos td.cuerpo_argumentativo {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.2px;
	text-align: inherit;
	width: 34%;
}

#vista_notas #elementos_discursivos th {
	font-size: 15px;
	color: #737E86;
	font-weight: bold;
}
#vista_notas #elementos_discursivos th.cuerpo_argumentativo {
	text-align: justify;
	padding: 0 10px;
}

#vista_notas #autor {
	color: #737E86;
	font-style: italic;
	margin-top: 10px;
}


#vista_elementos_discursivos h2#tipo {
	font-family: ubuntu;
	font-size: 20px;
	font-weight: bold;
	margin: 40px 40px 25px;
	text-transform: uppercase;
	color: #5F5E5E;
}

#vista_elementos_discursivos {
	font-family: ubuntu;
	padding: 0 20px 0 13px;
}

#vista_elementos_discursivos #nombre {
	font-size: 20px;
	color: #90999F;
	margin-bottom: 15px;
	font-weight: bold;
}

#vista_elementos_discursivos #notas_asociadas {
	font-size: 15px;
	color: #737E86;
	margin-bottom: 15px;
	font-weight: bold;
}

#vista_elementos_discursivos #notas_asociadas a {
	color: black;
}

#vista_elementos_discursivos #notas_asociadas img {
	vertical-align: middle;
	margin-left: 6px;
}

#vista_elementos_discursivos #fecha {
	font-size: 14px;
	color: #737E86;
}

#vista_elementos_discursivos #descripcion {
	margin-top: 20px;
}


.vistas-nota-form,
.vistas-discursivo-form {
	font-family: ubuntu;
}
.vistas-nota-form .messages,
.vistas-discursivo-form .messages {
	margin: 0;
}



.vistas-nota-form div#contenedor,
.vistas-discursivo-form div#contenedor {
	width: 874px;
}

.vistas-nota-form fieldset,
.vistas-discursivo-form fieldset,
.vistas_medio_admin_form fieldset {
	border: medium none !important;;
	margin: 0pt;
	padding: 0pt;
	background: none !important;
}


.vistas-nota-form #superior {
	padding: 50px 24px 0pt 99px;
	background-color: rgba(208, 216, 221, 0.5);
}


.vistas-nota-form #medio {
	padding: 0 24px 0pt 99px;
	background-color: rgba(208, 216, 221, 0.5);
}


.vistas-nota-form #titular {
	padding: 0 24px 0pt 99px;
	background-color: rgba(208, 216, 221, 0.5);
}
.vistas-nota-form label,
.vistas-discursivo-form label {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #737E86;
}
.vistas-discursivo-form .form-type-radio label {
	vertical-align: top;
}

.vistas-nota-form #superior fieldset {
	border-bottom: 1px solid #8F999F;
	padding-bottom: 5px;
}

.vistas-nota-form #superior div.form-item-title {
	margin-right: 44px;
}

.vistas-nota-form #superior fieldset div.form-item,
.vistas-nota-form #superior fieldset div.container-inline-date {
	margin: 0pt 0pt 2px;
}

.vistas-nota-form #superior fieldset div.form-item {
	float: left;
}

.vistas-nota-form #superior fieldset div.container-inline-date {
	float: right;
	clear: none;
}



.vistas-nota-form #edit-fecha input {
	background-color: #E4E6E7;
	border-color: #D6D9DC;
	font-family: segan;
	font-size: 13px;
	padding-left: 3px;
	width: 78px;
}
.vistas-nota-form .form-item-title label {
	font-size: 17px;
	color: #90999F;
	margin-top: 3px;
}

.vistas-nota-form input,
.vistas-discursivo-form input {
	border-radius: 5px 5px 5px 5px;
	height: 23px;
	font-family: ubuntu;
	background-color: #F6F7F7;
	border: 1px solid #C7CCCE;
	font-size: 13px;
	padding: 3px;
}

/*.vistas-nota-form #inferior #elementos_discursivos input:focus {
	position: absolute;
	width: 752px;
	border: 21px solid #C7CCCE;
	height: 61px;
	left: 76px;
	right: 0;
	margin: auto;
	outline: none;
	top: -117px;
}*/

.vistas-nota-form .chosen-container-multi .chosen-choices {
	border-radius: 5px 5px 5px 5px;
	font-family: ubuntu;
	background-color: #F6F7F7;
	border: 1px solid #C7CCCE;
	font-size: 13px;
	padding: 3px;
}

.vistas-nota-form .form-item-title input {
	border-color: #E6E7E9;
	width: 487px;
}
.vistas-nota-form #superior label {
	float: left;
}

.vistas-nota-form #superior #edit-fecha-wrapper label {
	margin: 2px;
}

.vistas-nota-form input.date-popup-init {
	background-color: #E4E6E7;
	border-color: #D6D9DC;
	font-family: segan;
	font-size: 13px;
	padding-left: 3px;
	width: 74px;
}

.vistas-nota-form #edit-fecha {
	padding: 0;
}

.vistas-nota-form .form-item-fecha label {
	line-height: 29px; 
}

.vistas-nota-form #medio select,
.vistas-nota-form #titular select {
	width: 148px;
	font-family: ubuntu;
	border: 1px solid #C7CCCE;
	border-radius: 5px 5px 5px 5px;
	background-color: #F6F7F7;
	font-size: 13px;
	height: 22px;
}

.vistas-nota-form #medio textarea,
.vistas-nota-form #titular textarea {
	background-color: #F6F7F7;
	border: 1px solid #C7CCCE;
	font-family: ubuntu;
	font-size: 14px;
	/*height: 103px;*/
	resize: none;
	width: 560px;
	border-radius: 5px 5px 5px 5px;
	line-height: 20px;
}


.vistas-nota-form #medio-derecha,
.vistas-nota-form #medio-izquierda {
	float: left;
}

.vistas-nota-form #medio-izquierda {
	margin-left: 34px;
}

.vistas-nota-form #medio .form-item-body,
.vistas-nota-form #medio .form-item-sumario {
	width: 559px;
}

.vistas-nota-form #medio .form-item-body textarea {
	height: 472px;
	width: 559px;
}

.vistas-nota-form #medio-impreso {
	clear: both;
	background-color: rgba(208, 216, 221, 0.5);
	margin-bottom: 20px;
}

.vistas-nota-form #medio-impreso fieldset div.fieldset-wrapper div {
	display: inline-block;
	margin: 10px 10px 10px 0;
}

.vistas-nota-form #medio-impreso div#primera_pagina,
.vistas-nota-form #medio-impreso div#titular_primera_pagina {
	display: block;
	margin: 0;
	background-color: rgba(208, 216, 221, 0.5);
}

.vistas-nota-form #medio-impreso .form-item-tipo-carga,
.vistas-nota-form #medio-impreso .form-item-tipo-titulo-primera-pagina {
	display: block !important;
}

.vistas-nota-form #inferior fieldset.form-wrapper {
	background-color: #E0E2E4 !important;;
	float: left;
	width: 100%;
}

.vistas-nota-form #inferior legend {
	clear: both;
	float: left;
	padding-left: 145px;
	width: 723px;
	font-family: ubuntu;
	font-size: 19px;
	font-weight: bold;
	color: #6A777F;
	margin: 53px 0pt 41px;
}

.vistas-nota-form #inferior div#encabezado {
	color: #6A777F;
	display: inline-block;
	font-family: ubuntu;
	font-size: 12px;
	font-weight: bold;
	width: 752px;
	border-bottom: 2px solid #BBC0C5;
	padding-bottom: 5px;
	margin: 0pt 23px 30px 99px;
	text-transform: uppercase;
}

.vistas-nota-form #inferior div#encabezado div {
	display: inline-block;
	border-right: 2px solid #BBC0C5;
	height: 19px;
	text-align: center;
}

.vistas-nota-form div.fila_discursivo {
	clear: both;
	float: left;
	padding: 0pt 23px 0pt 99px;
	width: 752px;
	border-bottom: 11px solid #EDEEEF;
	position: relative;
}

.vistas-nota-form #tendencia_nota {
	margin: 0 0 10px 99px;
	font-size: 12px;
	font-weight: bold;
	color: #6A777F;
	text-transform: uppercase;
}

.vistas-nota-form #tendencia_nota .contra {
	color: blue;
}

.vistas-nota-form #tendencia_nota .favor{
	color: red;
}

.vistas-nota-form #tendencia_nota label {
	float: left;
}

.vistas-nota-form #tendencia_nota input {
	background-color: transparent;
	border-color: transparent;
	font-weight: bold;
	padding: 0 7px;
	line-height: 15px;
}

.vistas-nota-form #inferior div#encabezado div#tema {
	width: 140px;
}

.vistas-nota-form #inferior div#encabezado div#matriz {
	width: 140px;
}

.vistas-nota-form #inferior div#encabezado div#tendencia {
	width: 130px;
}

.vistas-nota-form #inferior div#encabezado div#cuerpo_argumentativo {
	width: 182px;
}


.vistas-nota-form #inferior div#encabezado div#actor {
	width: 140px;
	border: medium none;
}


.vistas-nota-form #inferior .fila_discursivo div.form-item {
	float: left;
	margin: 0pt;
}

.vistas-nota-form #inferior input[id^=edit-agregar-fila-discursivo] {
	float: right;
	position: relative;
	border: medium none;
	background-color: transparent;
	height: 14px;
	top: -27px;
	right: 4px;
	padding: 0;
}

.vistas-nota-form #inferior #borrar_fila_discursivo  input {
	float: right;
	position: relative;
	border: medium none;
	background-color: transparent;
	height: 14px;
	right: -18px;
	top: -18px;
	padding: 0;
}

.vistas-nota-form #inferior #borrar_fila_discursivo  input:disabled {
	opacity: 0;
}

.vistas-nota-form #inferior div.fila_discursivo input.form-text {
	margin: 0pt 2px;
	width: 140px;
}

.vistas-nota-form #inferior div.fila_discursivo select {
	margin: 0pt 7px;
	width: 120px;
	font-size: 13px;
}


.vistas-nota-form #inferior div.fila_discursivo textarea {
	margin: 0pt 2px;
	width: 180px;
	border-radius: 5px 5px 5px 5px;
	resize: none;
	border: 1px solid #C7CCCE;
	background-color: #F6F7F7;
	font-size: 12px;
	font-family: ubuntu;
	height: 84px;
}

.vistas-nota-form #botones,
.vistas-discursivo-form #botones {
	height: 32px;
	background-color: #C6CACD;
	position: relative;
	float: left;
	padding: 0;
}

.vistas-nota-form #botones fieldset.form-wrapper,
.vistas-discursivo-form #botones fieldset.form-wrapper {
	background-color: #C6CACD;
	margin: 0pt;
	height: 32px;
}

.vistas-nota-form #botones input[type="submit"],
.vistas-discursivo-form #botones input[type="submit"] {
	background-image: url("/sites/all/themes/segana/images/busqueda-boton.png");
	color: white;
	width: 124px;
	font-family: ubuntu;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	height: 25px;
	margin-left: 2px;
	margin-top: 4px;
	padding-bottom: 2px;
	background-color: transparent;
	border: medium none;
	float: right;
}
.vistas-nota-form #elementos_discursivos {
	float: left;
}

.vistas-nota-form .chosen-container-multi {
	width: 157px !important;
}

.vistas-discursivo-form .form-item {
	margin: 0;
}

.vistas-discursivo-form .nombre_discursivo {
	padding: 50px 24px 20px 99px;
}

.vistas-discursivo-form .nombre_discursivo .form-item {
	border-bottom: 1px solid #8F999F;
}

.vistas-discursivo-form .nombre_discursivo label {
	color: #90999F;
	font-size: 17px;
	float: left;
	margin-top: 2px;
	margin-right: 4px;
	text-transform: uppercase;
}

.vistas-discursivo-form .nombre_discursivo input {
	border-color: #E6E7E9;
	margin-bottom: 9px;
}
.vistas-discursivo-form textarea {
	background-color: #F6F7F7;
	border: 1px solid #C7CCCE;
	border-radius: 5px 5px 5px 5px;
	font-family: ubuntu;
	font-size: 14px;
	height: 205px;
	resize: none;
	width: 560px;
	padding: 8px;
}

.vistas-discursivo-form .rol,
.vistas-discursivo-form .description,
.vistas-discursivo-form .fusionar,
.vistas-discursivo-form #opciones-admin {
	padding: 30px 24px 30px 99px;
}


html.js .vistas-nota-form input.form-autocomplete,
html.js .vistas-discursivo-form input.form-autocomplete {
	background-image: url(/misc/throbber.gif);
	background-position: 100% 4px;
	background-repeat: no-repeat;
}

html.js .vistas-nota-form input.throbbing,
html.js .vistas-discursivo-form input.throbbing {
  background-position: 99% 85%; /* tweak this according to your gif */
}

.vistas-discursivo-form #fusionar input[id^=edit-boton-fusionar] {
	float: right;
	position: relative;
	border: medium none;
	background-color: transparent;
	height: 15px;
	padding: 0;
	top: 2px;
}

.vistas-discursivo-form #fusionar .fieldset-wrapper div {
	display: inline-block;
}

.vistas-discursivo-form #contenedor {
	background-color: rgba(208, 216, 221, 0.5);
}

.vistas-discursivo-form #notas_asociadas {
	padding-left: 99px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
	color: #737E86;
}

.vistas-discursivo-form .ver img {
	vertical-align: middle;
	margin-left: 6px;
}

.vistas-discursivo-form #notas_asociadas a {
	color: black;
}

.vistas-discursivo-form .campos_adicionales {
	padding-left: 99px;
	margin-bottom: 12px;
}
h1.title .notas-asignadas {
	font-size: 19px;
	margin-left: 14px;
	color: lightcoral;
}

.vistas-discursivo-form .form-item .description {
	padding: 0;
}

.page-medio-contenido #content,
.page-medio-seccion #content {
    width: 687px !important;
    max-width: 687px !important;
    margin: 0 !important;
}

.page-medio-contenido #navigation,
.page-medio-seccion #navigation {
    display: none;
}

.vistas_medio_admin_form {
	font-family: ubuntu, sans-serif;
	font-size: 13px;
}

.vistas_medio_admin_form ul {
	font-family: verdana, arial, helvetica, sans-serif;
	margin: 0;
}
.vistas_medio_admin_form ul li{
	line-height: 13px;
}

.vistas_medio_admin_form .form-item {
	margin: 3px 0;
}
.vistas_medio_admin_form label {
    font-size: 13px;
    line-height: 14px;
}

.vistas_medio_admin_form .description {
    font-size: 10px !important;
    line-height: 12px;
    font-family: monospace;
}

.vistas_medio_admin_form iframe {
    width: 683px;
    height: 1000px;
}
.vistas_medio_admin_form input[id^=edit-superior-probar],
.vistas_medio_admin_form input[id^=edit-superior-elementos-probar],
.vistas_medio_admin_form input[id^=edit-superior-elementos-seccion-probar] {
    float: right;
    margin-top: 20px;
}

.vistas_medio_admin_form .form-type-textfield {
    float: left;
    width: 537px;
    font-size: 15px;
    line-height: 14px;
}

.vistas_medio_admin_form .form-type-textfield input{
    font-family: monospace;
}

.vistas_medio_admin_form #resultado {
    max-width: 683px;
}


.vistas-discursivo-form #opciones-admin textarea {
    width: 700px;
}
